/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 6rem;
  z-index: 997;
  width: 100%;
  transition: all 0.5s;
}
#header.header-transparent {
  /* background: rgb(255, 255, 255); */
  background: transparent;
}
#header.header-scrolled {
  box-shadow: 0px 2px 5px -4px #888888;
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(13, 194, 252, 1) 30%,
    rgba(13, 194, 252, 1) 50%,
    rgba(35, 54, 172, 1) 100%
  );
  /* background: #0b4180 !important; */
  height: 4.4rem;
  opacity: 0.96;
}
#header .logo a {
  display: flex;
  align-items: center;
}
#header .logo .logo-img {
  display: inherit;
}
#header .logo .logo-img img {
  padding: 0;
  margin: 0;
  max-height: 2.5rem;
}
#header .logo .logo-txt {
  font-size: 1.5rem;
  padding-left: 1rem;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins";
  letter-spacing: 0.1rem;
}

#header .head-btn-wrapper::before {
  content: attr(data-caption);
  display: block;
  height: 44px;
  /* background-color: rgb(32, 72, 182); */
  /* background-color: rgb(183, 149, 80); */
  background: linear-gradient(
    83deg,
    rgba(255, 202, 42, 1) 0%,
    rgba(228, 194, 99, 1) 25%,
    rgba(163, 139, 95, 1) 50%,
    rgba(228, 188, 74, 1) 75%,
    rgba(255, 202, 42, 1) 100%
  );
  /* background-color: rgb(28, 31, 35); */

  -ms-transform: rotate(8deg); /* IE 9 */
  transform: rotate(8deg);
  border-radius: 20px;
  position: relative;
  top: 22px;
  box-shadow: 0 0 5px 1px #4444;
}
#header .head-btn {
  position: relative;
  bottom: 22px;
  display: flex;
  color: #fff;
  /* background-color: rgb(28, 31, 35); */
  background-color: rgb(58, 104, 240);
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: max-content;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 1px #4444;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  display: block;
}
.nav-tgl {
  display: none;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: bold;
}
.navbar li,
.navbar ul > a {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", "Poppins", sans-serif;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 3px;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 1rem;
  height: 2px;
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.navbar .nav-lang > a::before {
  display: none;
}
.navbar .nav-lang {
  display: flex;
  align-items: center;
}
.navbar .nav-lang a:last-child {
  padding: 0;
  color: #444444;
}

/*====================*/
/* Tablet
/*====================*/
@media only screen and (max-width: 992px) {
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

  #header .logo {
    margin: 0;
  }
  #header .head-btn-wrapper {
    display: none;
  }
}

/*====================*/
/* Mobile
/*====================*/

@media only screen and (max-width: 767px) {
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

  #header .logo {
    margin: 0;
  }
  #header .head-btn-wrapper {
    display: none;
  }

  /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

  .menu {
    display: block;
  }
  .nav-tgl {
    display: inline-block;
    /* position: fixed; */
    z-index: 100;
    /* right: 15px; */
    /* top: 10px; */
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    line-height: 0.6;
    text-align: center;
  }
  .nav-tgl > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle;
  }
  .nav-tgl > span:before,
  .nav-tgl > span:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #293335;
    transition: all 200ms;
  }
  .nav-tgl > span:before {
    top: -11px;
    left: 3px;
    width: 28px;
  }
  .nav-tgl > span:after {
    top: 11px;
    left: 6px;
    width: 22px;
  }
  .nav-tgl:focus {
    outline: none;
  }
  .nav-tgl:hover > span:after,
  .nav-tgl:hover > span:before {
    width: 34px;
    left: 0;
  }
  .navbar:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    /* background: #000; */
    /* background: linear-gradient(200deg, #000 0%, #a68243 100%); */
    background: linear-gradient(
      30deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(13, 194, 252, 1) 50%,
      rgba(35, 54, 172, 1) 100%
    );
    transition: all 400ms ease-in-out;
    clip-path: circle(30px at calc(100% - 55px) 55px);
    visibility: hidden;
    z-index: 998;
  }

  .menu.active .navbar:before {
    visibility: visible;
    clip-path: circle(100%);
  }
  .menu.active .nav-tgl > span {
    height: 0;
  }
  .menu.active .nav-tgl > span:after,
  .menu.active .nav-tgl > span:before {
    top: 0px;
    left: 0;
    width: 34px;
  }
  .menu.active .nav-tgl > span:after {
    transform: rotate(-45deg);
  }
  .menu.active .nav-tgl > span:before {
    transform: rotate(45deg);
  }
  .navbar ul {
    display: none;
    opacity: 0;
    transition: opacity 1s linear;
  }
  .navbar.active ul {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: relative;
    z-index: 999;
    transition: all 0.5s;
  }
  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 2rem;
    height: 3px;
  }
  .navbar.active {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar.active .nav-link {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Montserrat";
  }
  .navbar.active ul > a {
    display: block;
    padding: 0;
  }
  .navbar .nav-lang a:last-child {
    padding: 0;
    color: #444444;
  }
}
